{% extends '!layout.html' %}

{%- block extrahead %}
<style type="text/css">
    .ods-logo {
        width: 60px !important;
        margin-bottom: 10px !important;
    }
    .wy-table-responsive table td,
    .wy-table-responsive table th {
        white-space: initial;
    }
    .wy-table td,
    .rst-content table.docutils td,
    .rst-content table.field-list td {
        vertical-align: top
    }
</style>
{% endblock %}
{% block sidebartitle %}

<a href="{{ pathto(master_doc) }}">
    <img src="{{ pathto('_static/' + logo, 1) }}" class="logo ods-logo"/>
    {{ project }}
</a>

{% if theme_display_version %}
{%- set nav_version = version %}
{% if READTHEDOCS and current_version %}
{%- set nav_version = current_version %}
{% endif %}
{% if nav_version %}
<div class="version">
    {{ nav_version }}
</div>
{% endif %}
{% endif %}

{% include "searchbox.html" %}

{% endblock %}