<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/opendatasoft/ods-widgets/dist/ods-widgets.css">

<div ng-app="ods-widgets" style="margin-bottom: 1rem;">
<ods-dataset-context context="geojoin" 
geojoin-dataset="ref-geojoin"
geojoin-domain="documentation-resources"
geojoin-parameters="{'disjunctive.french_short':true,
                    'disjunctive.admin_metas_admin_georef_division':true,
                    'disjunctive.admin_metas_admin_georef_year':true}">

<div style="width: 30%;float: left;">
<p style="margin-bottom: 0.4rem; margin-top: 0.4rem">
Sélectionner un pays
</p>
<div ods-facet-results="items" 
ods-facet-results-context="geojoin"
ods-facet-results-facet-name="french_short" 
ods-facet-results-sort="-COUNT">
<select ng-model="geojoin.parameters['refine.french_short']"
    ng-options="item.path as (item.name+' ('+item.count+' referential'+(item.count>1?'s':'')+')') for item in items"
    ng-selected="geojoin.parameters['refine.french_short'] == item.path">
<option value="">-- Tous les pays --</option>
</select>
</div>
<p style="margin-bottom: 0.4rem; margin-top: 0.4rem">
Sélectionner un niveau administratif
</p>
<div ods-facet-results="items" 
ods-facet-results-context="geojoin"
ods-facet-results-facet-name="admin_metas_admin_georef_division" 
ods-facet-results-sort="-COUNT">
<select ng-model="geojoin.parameters['refine.admin_metas_admin_georef_division']"
    ng-options="item.path as ('Level ' +item.name+' ('+item.count+' referential'+(item.count>1?'s':'')+')') for item in items"
    ng-selected="geojoin.parameters['refine.admin_metas_admin_georef_division'] == item.path">
<option value="">-- Tous les niveaux administratifs --</option>
</select>
</div>            
<p style="margin-bottom: 0.4rem; margin-top: 0.4rem">
Sélectionner une année
</p>
<div ods-facet-results="items" 
ods-facet-results-context="geojoin"
ods-facet-results-facet-name="admin_metas_admin_georef_year" 
ods-facet-results-sort="-COUNT">
<select ng-model="geojoin.parameters['refine.admin_metas_admin_georef_year']"
    ng-options="item.path as ('Year ' +item.name+' ('+item.count+' referential'+(item.count>1?'s':'')+')') for item in items"
    ng-selected="geojoin.parameters['refine.admin_metas_admin_georef_year'] == item.path">
<option value="">-- Toutes les années --</option>
</select>
</div>   
</div>
<div style="width: 70%;float: left;">
    <ods-table context="geojoin" displayed-fields="french_short, repository, admin_metas_admin_georef_label, url, field_label, field_description, admin_metas_admin_georef_attribution"></ods-table>                                  
</div>    

</ods-dataset-context>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/opendatasoft/ods-widgets/dist/ods-widgets.js"></script>

</div>