table {
    border: solid 1px #e1e5e5;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 2em;
}

th {
    border: solid 1px #e1e5e5;
    font-weight: bold;
}

td {
    border: solid 1px #e1e5e5;
    font-size: 90%;
    margin: 0;
    overflow: visible;
    padding: 8px 16px;
}

tr:nth-child(2n-1) td {
    background-color: #f3f6f6;
}
